/*###############################################################################################################################################################################################################*/
/*#########################################   GLOBAL UNIVERSAL CHANGES   #######################################################################################################################################*/
/*###############################################################################################################################################################################################################*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,800);

body.course-menu-expanded:not(.ic-no-flex-layout):not(.embedded) .ic-Layout-contentWrapper {
    max-width: 900px;
    margin: 0 auto;
}

.screenreader-only, .screenreader-only-tool {
    overflow: hidden !important;
    height: 0px !important;
}

/*======================== [KCL [Kings]] START TEXT ===========================*/

/*PAGE TITLE 0R BANNER HEADING*/

.pages.show .page-title {
    font-size: 24px;
    font-weight: 400;
    color: #393D3E;
    top: 110px;
    display: block;
    position: absolute;
    background-color: rgb(255 255 255 / 90%);
    left: 10%;
    right: 10%;
    padding: 10px 20px;
    margin: 0 0 0 auto;
    box-shadow: 0px 0px 65px 30px rgb(0 0 0 / 15%);
}

.pages.show .show-content a:active {
    color: #DB7F7F;
}

.pages.show .show-content .pages.show .page-title {
    font-size: 30px; color: #393D3E; font-weight: bold;
}

.pages .topic h1.discussion-title {
    font-size: 24px;
    font-weight: 400;
    color: #393D3E;
    top: 120px;
    display: block;
    position: absolute;
    background-color: rgb(255 255 255 / 90%);
    left: 10%;
    right: 10%;
    padding: 10px 20px;
    margin: 0 0 0 auto;
    box-shadow: 0px 0px 65px 30px rgb(0 0 0 / 15%);
} 

/*DISCUSSION BANNER HEADING*/

.discussions .topic h1.discussion-title {
    font-size: 24px;
    font-weight: 400;
    color: #393D3E;
    top: 200px;
    display: block;
    position: absolute;
    background-color: rgb(255 255 255 / 90%);
    left: 15%;
    right: 15%;
    padding: 10px 20px;
    margin: 0 0 0 auto;
    box-shadow: 0px 0px 65px 30px rgb(0 0 0 / 15%);
    z-index: 999;
}


/*GENERAL LINK COLOR----- LOCAL CODE ----*/
a {
    color: #501491;
}

/*HEADINGS & CONTENT*/

h2 {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 38px;
}

h2::after {
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    margin: 10px 0 13px;
    background-color: #575756;
}

h3 {
    font-size: 23px;
    font-weight: bold;
    margin-top: 38px;

}

h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 18px;
}

p {
    font-size: 16px;
    margin: 0 !important;
    padding: 12px 0;
}

.pad-box p {
    padding: 8px 0;
}

ul, ol {
    padding-left: 10px;
    margin: 0 0 20px 25px;
}

li {
    font-size: 16px;
    margin: 3px;
}

.user_content a:not(.btn):not(.Button):not(.ui-button):not(.ui-button.ui-state-hover):not(.ui-button.ui-state-focus):not(.ui-button.ui-state-disabled):not([role=button]), .mceContentBody a:not(.btn):not(.Button):not(.ui-button):not(.ui-button.ui-state-hover):not(.ui-button.ui-state-focus):not(.ui-button.ui-state-disabled):not([role=button]) {
    text-decoration: none;
}

dt {
    color: #8431A6;
}

dt, dd {
    padding: 10px 0;
}

.background_grey {
    background-color: #E3E5E8;
}

#more {
    display: none;
}

img {
    height: auto;
}

/*TOOLBAR*/

.toolbarView .headerBar {
    border: none !important;
}

/*PAGES & CONTENT*/

.span-text {
    font-size: 16px;
    margin: 0 !important;
    padding: 0;
    display: block !important;
}

.span-text-heading {
    font-size: 16px;
    margin: 0 !important;
    padding: 0;
    display: block !important;
}

.span-text-btn {
    font-size: 16px;
    margin: 0 !important;
    padding: 0;
}

/*************************************************
**********************Zoom container codes****************************/

.zoom-container{
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.zoom-box{
    width: 900px;
    height: auto;
    margin: 0px 10px;
    transition: 1s;
}

.zoom-box:hover{
    transform: scale(1.3);
    z-index: 2;
}

/*---------------------enlarge image code---------------------------*/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/*############### HOVER ZOOMS*/
.image-hover-zoom {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
    /*height: 100%;*/
    background-size: 200%;
    background-position-x: 50%;
    background-position-y: 50%;
    /*display: block;*/
    background-image:none !important;
    transition: 1s;
}

.h5peditor .ui-dialog .h5p-joubelui-button, .h5peditor .h5p-joubelui-button, .h5p-joubelui-button {
    background: #0A2D50;
}

.h5p-course-presentation .h5p-progressbar .h5p-progressbar-part-show {
    background-image: linear-gradient(
            180deg,#0A2D50,#0A2D50);
}

.course-overview-card {
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 8px -2px #A3A3A3;
    margin: 10px;
}

.course-overview-card h2{
    font-size: 22px;
    padding: 0;
    margin: 0;
    border: none;
}

.course-overview-card p{
    padding: 0;
    font-size: 12px;
}

.course-overview-card .span-btn {
    font-size: 12px;
    background-color: #E3E5E8;
    border-radius: 3px;
    padding: 2px 4px;
    margin: 0 2px;
}

.course-overview-card a[class*=icon-]:before, a[class^=icon-]:before {
    color: black;
    margin: 0 5px;
    font-size: .9rem;
    padding: 0;
}

.course-overview-card hr{
    margin: 8px 0;
}

.h5p iframe {
    margin: 0 auto;
}

/*======================== START LETTER ===========================*/
.letter {
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    margin: 15px auto 0;
    max-width: 900px;
    min-height: 300px;
    padding: 15px;
    position: relative;
    width: 96%;
}

.letter:before, .letter:after {
    content: "";
    height: 98%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.letter:before {
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    left: -5px;
    top: 4px;
    transform: rotate(-2.5deg);
}

.letter:after {
    background: #f6f6f6;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    right: -3px;
    top: 1px;
    transform: rotate(1.4deg);
}

/*======================== START PAPER ===========================*/
.paper{
    margin: 15px auto;
    background-color: #f4f4f4;
    padding: 40px 20px;
    position: relative;
    overflow: hidden;
}

.paper h3 {
    padding: 0;
}

.paper::after{
    content: '';
    display: block;
    border-style: solid;
    border-color: #d7d7d7 transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.paper::after{
    content: '';
    display: block;
    border-width: 0px 40px 40px 0px;
    border-style: solid;
    border-color: #d7d7d7 #FFF;
    /*box-shadow: -5px 6px 10px rgb(129, 127, 127);*/
    position: absolute;
    top: 0;
    right: 0;
}

/*================Banner code===================*/
.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 272px !important;
    background-color: #f0f0f0;
    margin-bottom: 40px;
}

.banner-text-block p {
    padding: 0;
    margin: 0;
    color: #666;
}

.banner-text-block h4 {
    padding: 0;
    margin: 0;
}

/*================No zoom===================*/
.no-hover-zoom {
    min-height: 250px !important;
}

/*======================== START GLOBAL NAVIGATION ===========================*/
.ic-app-header__logomark {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 54px;
}
.list-view a.active {
    padding-left: 15px;
}
select, textarea, input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], .uneditable-input {
    height: 38px;
}
a.pages.active:after {
    color: transparent;
}
/*======================== END GLOBAL NAVIGATION ===========================*/

/*======================== START BODY ===========================*/
/*All Content*/
body{
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.8;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*Page Width*/
.pages.show .show-content {
    max-width: 900px;
    padding-bottom: 50px;
    margin: 0 auto;
    overflow:hidden;
}

/*Assignment Width*/
#assignment_show .description.teacher-version {
    max-width: 900px;
    padding-bottom: 50px;
    margin: 0 auto;
    border: none;
}

/*Discussion Width*/
.topic .entry-content {
    max-width: 900px;
    padding-bottom: 50px;
    margin: 0 auto;
    border: none;
}

.ic-Layout-contentMain {
    padding: 24px;
    max-width: 900px;
    margin: 0 auto;
}

.quiz-header, .assignment-title {
    position: relative;
}

#assignment_show .title-content .title {
    font-size: 24px;
    font-weight: 400;
    color: #393D3E;
    top: 200px;
    display: block;
    position: absolute;
    background-color: rgb(255 255 255 / 90%);
    left: 10%;
    right: 10%;
    padding: 10px 20px;
    margin: 0 0 0 auto;
    box-shadow: 0px 0px 65px 30px rgb(0 0 0 / 15%);
    z-index: 999 !important;
}

.headerBar {
    border: none;
}

.message_wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.file_download_btn img {
    display: none !important;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.list-view a.active {
    border: none;
}

* {box-sizing:border-box}

/*======================== END BODY ===========================*/

/*======================== [KCL [Kings]] START TABLE ===========================*/
table {
    vertical-align: top !important;
    width: 100%;
    border: #C6CDD1;
    margin: 10px 0;
}
.table, tr:hover {
    background-color: #f8f9fa;
}
.table, th, tr, td {
    vertical-align: top !important;
    /*font-size: 15px;*/
    /*padding: 10px;*/
}
.user_content table:not([cellpadding]) td, .mceContentBody table:not([cellpadding]) td {
    padding: 6px;
}

/*======================== [KCL [Kings]] PROGRESS BAR START ===========================*/
.progress-bar-container {
    padding: 0;
    text-align: center;
}
.progress-negative {
    margin: 0;
    background-color: #EEEEEE;
}
.progress-color {
    background-color: #0A2D50;
    color: #ffffff;
    font-size: 14px;
}

/*======================== [KCL [Kings]] CODE START ===========================*/
.pages.show .show-content code {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 16px;
    /*color: #d30000;*/
    border-radius: 3px;
    /* background-color: #1c1c1c; */
    border: none;
}

code, pre {
    border-radius: 3px !important;
    border: 0 !important;
    padding: .125rem .25rem;
}

.pages.show .show-content pre {
    color: #797979;
    display: block;
    padding: 20px !important;
    margin: 0;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #C6CDD1 !important;
    line-height: 1.4;
}

/*======================== [KCL [Kings]] ALERTS START ===========================*/
.box_heading {
    background-color: #f5f5f5;
    padding: 20px 15px 0 15px;
    margin: 20px 0 0 0;
    font-size: 16px;
    color: #7343A7;
    border-radius: 3px 3px 0 0;
    border: 1px solid #C6CDD1;
    border-bottom: none;
}

.box_heading p4 {
    color: #7343A7;
}

.box_heading a[class*=icon-]:before, a[class^=icon-]:before {
    font-size: 1.2rem;
    color: black;
    margin: 0 10px;
}

.box_content {
    background-color: #f5f5f5;
    padding: 10px 20px;
    margin: 0 0 20px 0;
    border-radius: 0 0 3px 3px;
    border: 1px solid #C6CDD1;
    border-top: none;
}

.box_content p {
    padding: 8px 0;
}

.box_content_full {
    background-color: #f5f5f559;
    padding: 20px !important;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid #C6CDD1;
}

.box_content_full .Button {
    margin: 10px 0 20px;
    color: #000000;
}


/*======external:hover=======*/
.ui-icon-extlink, a.external:focus .ui-icon-extlink, a.external:active .ui-icon-extlink {
    text-decoration: none !important;
    display: none !important;
}

.ui-dialog .ui-dialog-titlebar-close span {
     display: block !important;
}

/*======================== [KCL [Kings]] IMAGES START ===========================*/
.pages.show .show-content img:not(.equation_image) {
    vertical-align: middle !important;
    width: auto !important;
}

.pages.show .show-content img {
    margin: 0 auto;
    height: auto;
}

.pages.show .show-content img.hover-image{
    cursor:zoom-in;
    transition: 1s;
}

img:not(.equation_image) {
    vertical-align: middle !important;
    width: auto !important;
}

.equation_image img{
    margin:0px;
}

/*======================== [KCL [Kings]] LATEX START ===========================*/
img:not(.equation_image) {
    vertical-align: middle !important;
    width: auto !important;
}

.equation_image {
    display: inline !important;
}

/*======================== [KCL [Kings]] START MODULE OVERVIEW ===========================*/
.module-overview-wrapper {
    padding: 5px;
    width: 100%;
    margin: 0 auto;
}

.module-overview {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 15px;
}

.module-overview-wrapper h3 {
    text-align: center;
    margin: 0 auto;
}

.module-tile {
    position: relative;
    max-width: 270px;
    min-width: 250px;
    height: 151px;
    padding: 0;
    margin: 5px;
}

.pages.show .show-content .image__img {
    display: block;
    width: 100%;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    opacity: 1;
    transform: translateY(0);

}

span.image__title {
    font-size: 20px;
    padding: 0 10px;
    display: block;
}

span.image__description {
    font-size: 16px;
    padding: 0 3px 10px 3px;
    display: block;
    color: white;
}

/*======================== [KCL [Kings]] START TOPIC OVERVIEW ===========================*/
.topic-overview-list {
    display: block;
}

.topic-overview-list .overview-title {
    display: block;
    background: #EEEEEE;
    padding: 2px 10px;
    font-size: 13px;
    letter-spacing: 0.0125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.topic-overview-list .row-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #EEEEEE;
}

.topic-overview-list .block-yellow,
.topic-overview-list .block-red,
.topic-overview-list .block-clear,
.topic-overview-list .block-blue {
    flex-grow: 0;
    flex-shrink: 0;
    width: 4.0625rem;
    font-size: 0.8875rem;
    line-height: 1.25rem;
    height: 1.25rem;
    border-radius: 0.1875rem;
    background-color: #DDF6F2;
    border: 0.0625rem solid #7CE6D8;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-right: 2rem;
}

.topic-overview-list .block-red {
    background-color: #C3B5C5;
    border-color: #7343A7;
}

.topic-overview-list .block-blue {
    background-color: #D1E3F8;
    border-color: #55ACEE;
}

.topic-overview-list .block-clear {
    background-color: transparent;
    border-color: transparent;
}

.topic-overview-list .row-copy {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin: 0;
    padding: 10px 20px;

}

/*======================== [KCL [Kings]]  MEDIA - VIDEO BOX ===========================*/
.pad-box {
    margin: 20px auto;
}

.pad-box-mega {
    padding: 20px;
    max-width: 950px;
    margin: 10px auto 20px;
}

.pad-box-mega h4 {
    margin-top: 0px;
}

.pad-box-mega iframe {
    width: 100% !important;
    min-width: 100% !important;
    height: 463px !important;}

.more-card {
    border: 1px solid black;
    box-shadow: 2px 2px 5px 0.5px black;
    padding: 20px;
    transform: translateY();
    transition: 1s ease-in;
}

.long-text {
    display: none
}

.show-more-button:hover {
    cursor: pointer;
}

video {
    width: 100% !important;
    height: auto !important;
}

.video-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

iframe {
    width: 100%;
}

.video_responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.btn .transcript-button a {
    text-decoration: none;
}

/*======================== [KCL [Kings]] BLOCK QUOTE START  ===========================*/

blockquote {
    padding: 0 0 0 16px;
}

.blockquote{
    max-width: 700px;
    margin: 20px auto;
    padding: 25px;
    background: #ffffff;
    border: 1px solid #C7CDD1;
    box-sizing: border-box;
}

.blockquote--bordered {
    border-left-width: 10px;
}

.blockquote_text {
    font-style: italic;
    margin: 0;
}

.blockquote_text--credit {
    font-weight: bold;
    font-style: normal;
    text-align: right;
    padding: 0 20px;
    font-size: .9rem;
}

.blockquote_text--credit::before {
    content: "\2014\0020"
}

.blockquote_text:not(:last-child) {
    margin-bottom: 1em;
}

.blockquote--quoted::before {
    content: "\201C";
    font-size: 100px;
    color: #7343A7;
    display: block;
    margin-bottom: -85px;
    margin-top: -50px;
}

/*======================== [KCL [Kings]] ACCORDION START  ===========================*/
/* Style the buttons that are used to open and close the accordion panel */
.accordion, .accordions {
    background-color: #E3E5E8;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 8px 14px;
    border: 1px solid #C7CDD1;
    border-radius: 3px;
    outline: none;
    transition: 0.4s;
    margin-top: 10px;
    box-sizing: border-box;
}
/* Style the accordion panel. Note: hidden by default */
.panel {
    background-color: #f8f9fa;
    overflow: hidden;
    border-radius: 0 0 3px 3px;
    transition: max-height 0.2s ease-out;
    margin-bottom: 3px;
    border: 1px solid #C6CDD1;
    border-top: none;
    /* hide the accordions, but allow for them to have iframes also */
    visibility: hidden;
    height: 0;
    padding: 0;
}

.accordion:after, .accordions:after {
    content: '\002B'; /* Unicode character for "plus" sign (+) */
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after{
    content: "\2212"; /* Unicode character for "minus" sign (-) */
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.ic-app-course-menu .active, .active:hover{
    border-color: #d4d7de !important;
    background: #F5F5F5 !important;
    border-radius: 3px !important;
    color: #393D3E !important;
    text-decoration: none !important;
}

.ic-app-course-menu .active:after {
    color: transparent;
}


/*======================== [KCL [Kings]] TABS START  ===========================*/
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
    background-color: #E3E5E8;
}

.ui-tabs .ui-tabs-nav li a {
    padding: 10px 20px;
    color: #393D3E;
    font-size: 16px;
}

.ui-tabs-anchor {
    color: black;
}

.ui-tabs-anchor:active {
    background-color: #f6f6f6;
    padding: 10px 20px;
}

.ui-tabs-panel:active {
    background-color: #f6f6f6;
    padding: 10px 20px;
}

.user_content a:not(.btn):not(.Button):not(.ui-button):not([role='button']), .mceContentBody a:not(.btn):not(.Button):not(.ui-button):not([role='button']) {
    text-decoration: none;
}

/*======================== START OBJECTIVES ===========================*/
.hover_sec {
    margin: 6px;
    padding: 1px 10px;
    border-radius: 3px;
    background-color: #E3E5E8;
}
/*======================== END OBJECTIVES ===========================*/

.background_grey {
    background-color: #E3E5E8;
}
.center-content {
    margin: 0 auto;
    align-content: center;
}

.output {
    background-color: #393D3E;
    color: #EEEEEE;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    padding: 6px 20px;
}

.output-panel {
    padding: 10px 20px;
    display: none;
    overflow: hidden;
    border-radius: 0 0 3px 3px;
    transition: max-height 0.2s ease-out;
    border: 2px solid #393D3E;
    margin: 0 20px;
}

/*======================== [KCL [Kings]] FLIP-CARD START  ===========================*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: #393D3E;
}

/* Style the back side */
.flip-card-back {
    background-color: #eee;
    color: white;
    transform: rotateY(180deg);
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: #f5f5f5;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/*------------New popup-------------*/

.button_pop {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button_pop:hover {
    background: #06D85F;
}
.overlay_pop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay_pop:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    height: 80%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content_pop {
    max-height: 100%;
    overflow: auto;
}

/*############### COURSE CARDS*/
/*############### MODULE CARDS*/
.user_content a:not(.btn):not(.Button):not(.ui-button):not(.ui-button.ui-state-hover):not(.ui-button.ui-state-focus):not(.ui-button.ui-state-disabled):not([role=button]), .mceContentBody a:not(.btn):not(.Button):not(.ui-button):not(.ui-button.ui-state-hover):not(.ui-button.ui-state-focus):not(.ui-button.ui-state-disabled):not([role=button]) {
    text-decoration: none;
}

.module-cards-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    -ms-grid-rows: (minmax(200px, 1fr))[auto-fit];
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.module-cards-container * {
    text-decoration: none;
    color: var(--ic-brand-font-color-dark);
}

.module-cards-container .module-card-container--outer {
    background: #ededed;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    -webkit-box-shadow: 0 0 8px -2px #dddddd;
    box-shadow: 0 0 8px -2px #dddddd;
    border: 1px #dedede solid;
    border-radius: 5px;
    padding: 15px;
}

.module-cards-container .module-card-container--outer:hover {
    background: #2C236F;
}

.module-cards-container .module-card-container--outer:hover * {
    color: var(--ic-brand-button--secondary-text);
}

.module-cards-container .module-card-container--outer .module-card-inner--top>span,
.module-cards-container .module-card-container--outer .module-card-inner--top,
.module-cards-container .module-card-container--outer .module-card-inner--bottom>span,
.module-cards-container .module-card-container--outer .module-card-inner--bottom {
    display: block;
}

.module-cards-container .module-card-container--outer .module-card-inner--bottom {
    margin-top: 20px;
    padding-top: 10px;
    border: 1px none #c5c5c5;
    border-top-style: solid ;
}

.module-cards-container .module-card-container--outer .module-card-heading {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

.module-cards-container .module-card-container--outer .module-card-text {
    font-size: 1rem;
    margin: 5px 0;
}

.pill-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: wrap row;
    flex-flow: wrap row;
}

.pill-container .pill {
    background: #c5c5c5;
    border: none;
    margin: 3px;
    padding: 1px 6px;
    border-radius: 3px;
    font-size: 12px;
}

.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-draggable .ui-resizable {
    /*width: 850px !important;*/
    top: 150px !important;
    left: 440px !important;
    width: 65%;
    margin-top: 10% !important;
}

.pages.show .show-content .image-hover-zoom img.hover-image {
    max-width: 100% !important;
    height: auto !important;
    opacity: 1;
    transition: 1s;
    cursor:zoom-in;
}

.pages.show .show-content .image-hover-zoom img.hover-image:hover, .image-hover-zoom:hover, .hover-image:hover{
    transform: scale(1.1);
    z-index: 2;
}

.pages.show .show-content .image-hover-zoom:hover img.hover-image {
    opacity: 1;
}

/*======================== FOOTER PAGE NAVIGATION ===========================*/
.ui-tooltip {
    display: none !important;
}

.module-sequence-footer .hidden {
    display: block !important;
}

.module-sequence-footer-content {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    /*display: flex;*/
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.module-sequence-footer-content a {
    font-size: 0;
}

.module-sequence-footer-content a.Button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    text-align: left;
    border: none;
}

.module-sequence-footer-content a:hover {
    box-shadow: rgba(0, 0, 0, 0.25);
}

.module-sequence-footer-content a .hidden {
    font-size: 14px;
    border: 0 !important;
}

.module-sequence-footer,
.module-sequence-footer .module-sequence-footer-content {
    height: auto !important;
    padding-top: 20px;
}

/*NAVIGATION BUTTONS TEXT*/
#msf0-previous-desc, #msf0-next-desc {
    font-size: 13px;
    height: 70px;
    padding: 10px;
    display: block;
    visibility: visible;
    margin-top: 0;
    border: 1px solid #c7cdd1 !important;
}

#msf0-previous-desc {
    border-radius: 0 5px 5px 0;
}

#msf0-next-desc {
    border-radius: 5px 0 0 5px;
}

/*NAVIGATION ICONS*/
.module-sequence-footer-button--previous .icon-mini-arrow-left {
    height: 70px;
    width: auto;
    border: 1px solid #c7cdd1;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.module-sequence-footer-button--next .icon-mini-arrow-right {
    height: 70px;
    width: auto;
    border: 1px solid #c7cdd1;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    position: absolute;
    right: 0px;
    top: 0px;
}

/*NAVIGATION BUTTONS*/
.module-sequence-footer-button--previous {
    width: 30%;
}

.module-sequence-footer-button--previous > a{
    padding: 0px 0px 0px 38px;
    display: block;
    line-height: normal;
}

.module-sequence-footer-button--next {
    width: 30%;
}

.module-sequence-footer-button--next > a{
    padding: 0px 38px 0px 0px;
    display: block;
    line-height: normal;
}

/*NEXT BUTTON SWOP*/
.module-sequence-footer-button--next a i {
    position: absolute;
}

.module-sequence-footer-button--next span{
    text-align: right;
}

.module-sequence-footer-button--previous > a:hover, .module-sequence-footer-button--next > a:hover {
    background: transparent;
}

.module-sequence-footer-button--previous > a:hover i, .module-sequence-footer-button--next > a:hover i {background-color: rgba(0,0,0,0.2);}
.btn:focus, .Button:focus, .ui-button:focus {box-shadow: none !important;}

/* merge css */
input[type=textfield].false {
    border: 1px solid #d2413d;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    cursor: not-allowed;
    background-color: #eee;
}

.oes-fibtf-checked {
    color: #000000;
    background: #ececec;
    border: 1px solid lightgray;
}

.oes-fibtf-incorrect {
    padding: 0.2em 0.4em;
    border-radius: 3px;
    margin-left: 0.2em;
    color: #ffffff;
    background: #d2413d;
    font-weight: bold;
}

.oes-quiz-fillinblank div.oes-feedback-correct, .oes-quiz-fillinblank div.oes-feedback-incorrect, .oes-quiz-fillinblank div.oes-feedback {
    clear: both;
    display: none;
    opacity: 0;
    float: none;
    margin-bottom: 0.5em;
}

.oes-bg-feedback, div.oes-feedback {
    border: 1px solid #d4d7de;
}

div.oes-feedback-correct, div.oes-feedback-incorrect, div.oes-feedback {
    background: #f1f2f4;
    border-radius: 3px;
    display: block;
    padding: 1em;
    margin: 1em;
}

.oes-feedback-correct, .oes-feedback-incorrect, .oes-feedback {
    display: none;
    opacity: 0;
}

.oes-quiz-button {
    margin: 0 0.5em;
    padding: 0.5em 1.5em;
    border-radius: 3px;
    background: #f1f2f4;
    border: 1px solid #d4d7de;
    cursor: pointer;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

textarea.oes-textarea, .oes-canvas-quiz textarea {
    padding: 0;
    width: 100%;
    min-height: 40px;
    height: 100%;
}

.oes-feedback-context {
    color: #f1f2f4;
    font-style: italic;
}

.oes-quiz-multichoice {
    position: relative;
}

.oes-selector-group {
    list-style-type: none;
    padding-left: 15px;
    margin-left: 15px;
}

.oes-canvas-quiz label {
    font-weight: normal;
}

.oes-canvas-quiz input[type="radio"], .oes-canvas-quiz input[type="checkbox"] {
    margin: 0 0 0 -17px;
}

.oes-mc-checked {
    margin-left: 10em;
    border-left: 1px solid #ececec;
    padding-left: 1em;
}

.oes-mc-checked .oes-selector-group {
    color: #000000;
}

.oes-canvas-quiz input[type="radio"], .oes-canvas-quiz input[type="checkbox"] {
    margin: 0 0 0 -17px;
}

.oes-bg-feedback, div.oes-feedback {
    border: 1px solid #d4d7de;
}

.oes-mc-correct:before, .oes-mc-incorrect:before, .oes-mc-missed:before {
    margin-left: -11em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    width: 9em;
    line-height: 1.1em;
    float: left;
    font-size: 0.9em;
    padding: 0.2em 0.5em;
    border-radius: 3px;
}

.oes-mc-missed:before {
    color: #000000;
    background: #ececec;
    content: "Correct answer";
}

.oes-mc-incorrect:before {
    color: #ffffff;
    background: #d2413d;
    content: "You answered";
}

span.oes-feedback, span.oes-feedback-correct, span.oes-feedback-incorrect {
    margin-left: 0.2em;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 3px;
    white-space: nowrap;
}

span.oes-feedback-correct {
    color: #ffffff;
    background: #00AC18;
}

.oes-mc-correct:before{
    color: #ffffff;
    background: #00AC18;
    content: "Correct!";
}

span.oes-feedback-incorrect {
    color: #ffffff;
    background: #d2413d;
}

.oes-mc-missed:before {
    color: #000000;
    background: #ececec;
    content: "Correct answer";
}

.oes-quiz-textresponse div.oes-feedback {
    display: block;
    width: auto;
    margin: 0 0 1em 0;
    float: none;
}

.oes-quiz-fillinblank div.oes-feedback{
    margin-left:0px;
}

.open{
    opacity: 1;
    border:1px solid #aaa;
    margin-bottom: 10px;
    margin-top: -10px;
    padding: 15px;
}

a.oes-ulo-link {
    cursor: pointer;
}

.ui-dialog .dialog-ULO>ol {
    display: block;
    color: #7f7f80;
}

.ui-dialog .dialog-ULO.LO1 ol>li:nth-of-type(1), .oes-ulo-list.LO1 ol>li:nth-of-type(1) {
    color: black;
    font-weight: bold;
}

.ui-dialog .dialog-ULO.LO2 ol>li:nth-of-type(2), .oes-ulo-list.LO2 ol>li:nth-of-type(2) {
    color: black;
    font-weight: bold;
}

.ui-dialog .dialog-ULO.LO3 ol>li:nth-of-type(3), .oes-ulo-list.LO3 ol>li:nth-of-type(3) {
    color: black;
    font-weight: bold;
}

.ui-dialog .dialog-ULO.LO4 ol>li:nth-of-type(4), .oes-ulo-list.LO4 ol>li:nth-of-type(4) {
    color: black;
    font-weight: bold;
}

.ui-dialog .dialog-ULO.LO5 ol>li:nth-of-type(5), .oes-ulo-list.LO5 ol>li:nth-of-type(5) {
    color: black;
    font-weight: bold;
}

.ui-dialog .dialog-ULO.LO6 ol>li:nth-of-type(6), .oes-ulo-list.LO6 ol>li:nth-of-type(6) {
    color: black;
    font-weight: bold;
}

.ui-dialog .dialog-ULO.LO7 ol>li:nth-of-type(7), .oes-ulo-list.LO7 ol>li:nth-of-type(7) {
    color: black;
    font-weight: bold;
}

.ui-dialog .dialog-ULO.LO8 ol>li:nth-of-type(8), .oes-ulo-list.LO8 ol>li:nth-of-type(8) {
    color: black;
    font-weight: bold;
}

.ui-dialog.ui-widget-content{
    width: 800px !important;
    left: 0px !important;
    right: 0px !important;
    top: 20px !important;
    margin: auto !important;
    margin-top: 10% !important;
}

@media only screen and (max-width: 600px){
    .ui-dialog.ui-widget-content{
        width:auto !important;
        left:15px !important;
        right:15px !important;
    }
    .ui-dialog .ui-dialog-content{
        width:auto !important;
    }
}


.ui-dialog .ui-dialog-content{
    font-size: 10px;
}

.ui-dialog .ui-dialog-title{
    font-weight:bold !important;
}

.delete_question_link img, .edit_teaser_link img{
    min-height: auto;
    width: 16px;
    height: 16px;
}

.question img, .answer img {
    max-width: 100% !important;
    height: auto;
    width: auto;
    min-height: auto;
}

ul.order-list li.active-order, ol.order-list li.active-order{
    color: black;
    font-weight: bold;
}

.enhanceable_content{
    display:none;
}

.equation_image img	{
    max-width: none !important;
    min-height: auto !important;
    width: auto;
    min-width: auto !important;
    height: auto !important;
}

.equation_image span.image-hover-zoom{
    display:inline !important;
    background-image: none !important;
}

.equation_image .image-hover-zoom:hover img.hover-image {
    opacity: 1;
}

.instructure_file_holder a.file_download_btn{
    display:none;
}

@media only screen and (max-width: 600px){
    .ui-dialog.ui-widget-content{
        width:auto !important;
        left:15px !important;
        right:15px !important;
    }
    .ui-dialog .ui-dialog-content{
        width:auto !important;
    }
}

/* merge css */

/*======================== Student Support page ===========================*/

.SS-icon a[class*=icon-]:before, a[class^=icon-]:before {
    font-size: 2.5rem;
    color: #501491;
    margin: 0 10px;
}

/*############### COURSE CARDS*/
.SS-course-cards-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    -ms-grid-rows: (minmax(100px, 1fr))[auto-fit];
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}

.SS-course-cards-container * {
    text-decoration: none;
    color: var(--ic-brand-font-color-dark);
}

.SS-course-cards-container .SS-course-card-container--outer {
    background: #ededed;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    -webkit-box-shadow: 0 0 8px -2px #dddddd;
    box-shadow: 0 0 8px -2px #dddddd;
    border: 1px #dedede solid;
    border-radius: 5px;
    padding: 15px;
}

.SS-course-cards-container .SS-module-card-container--outer:hover {
    background: var(--ic-brand-button--primary-bgd-darkened-5);
}

.SS-course-cards-container .module-card-container--outer:hover {
    color: var(--ic-brand-button--primary-text);
    text-decoration: none;
}

.SS-course-card-container--outer:hover{
    background: var(--ic-brand-button--secondary-bgd-darkened-5);
}

.SS-course-card-container--outer:hover span{
    color: white !important;
}

.SS-course-cards-container .SS-course-card-container--outer .SS-course-card-inner--top>span,
.SS-course-cards-container .SS-course-card-container--outer .SS-course-card-inner--top,
.SS-course-cards-container .SS-course-card-container--outer .SS-course-card-inner--bottom>span,
.SS-course-cards-container .SS-course-card-container--outer .SS-course-card-inner--bottom {
    display: block;
}

.SS-course-cards-container .SS-course-card-container--outer .SS-course-card-inner--bottom {
    margin-top: 20px;
    padding-top: 10px;
    border: 1px none !important;
}

.SS-course-cards-container .SS-course-card-container--outer .SS-course-card-heading {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

.SS-course-cards-container .SS-course-card-container--outer .SS-course-card-text {
    font-size: 1rem;
    margin: 5px 0;
}

/*############### MODULE CARDS*/
.user_content a:not(.btn):not(.Button):not(.ui-button):not(.ui-button.ui-state-hover):not(.ui-button.ui-state-focus):not(.ui-button.ui-state-disabled):not([role=button]), .mceContentBody a:not(.btn):not(.Button):not(.ui-button):not(.ui-button.ui-state-hover):not(.ui-button.ui-state-focus):not(.ui-button.ui-state-disabled):not([role=button]) {
    text-decoration: none;
}

.SS-module-cards-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    -ms-grid-rows: (minmax(200px, 1fr))[auto-fit];
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

.SS-module-cards-container * {
    text-decoration: none;
    color: var(--ic-brand-font-color-dark);
}

.SS-module-cards-container .SS-module-card-container--outer {
    background: #ededed;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
    -webkit-box-shadow: 0 0 8px -2px #dddddd;
    box-shadow: 0 0 8px -2px #dddddd;
    border: 1px #dedede solid;
    border-radius: 5px;
    padding: 15px;
}

.SS-module-cards-container .SS-module-card-container--outer .SS-module-card-inner--top>span,
.SS-module-cards-container .SS-module-card-container--outer .SS-module-card-inner--top,
.SS-module-cards-container .SS-module-card-container--outer .SS-module-card-inner--bottom>span,
.SS-module-cards-container .SS-module-card-container--outer .SS-module-card-inner--bottom {
    display: block;
}

.SS-module-cards-container .SS-module-card-container--outer .SS-module-card-inner--bottom {
    margin-top: 20px;
    padding-top: 10px;
    border: 1px none !important;
}

.SS-module-cards-container .SS-module-card-container--outer .SS-module-card-heading {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}

.SS-module-cards-container .SS-module-card-container--outer .SS-module-card-text {
    font-size: 1rem;
    margin: 5px 0;
}

/*Buttons*/
a.hover-fade {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

a.hover-fade:hover, a.hover-fade:focus, a.hover-fade:active {
    background-color: #c6c6c6;
    color: white;
}

a.hover-fade * {
    text-decoration: none !important;
}

/*Parallax*/
.parallax {
    background-attachment: fixed;
    background-position: 70% 0%;
    background-repeat: no-repeat;
    background-size: 1000px;
}

.parallax-2 {
    background-attachment: fixed;
    background-position: 63% 150%;
    background-repeat: no-repeat;
    background-size: 930px;
}


.oes-carousel {
    visibility: hidden;
    margin: 2em 0;
    border: none;
    overflow: hidden;
    position:relative;
}

.oes-carousel>div {
    height: 100%;
    overflow: hidden;
    border: none;
    border: 1px solid #d4d7de !important;
    padding: 0 6% 40px !important;
    min-height: 160px;
}

.oes-carousel .oes-carousel-section-content figure {
    margin-bottom: 2em !important;
}

.oes-carousel.fixed-height>div {
    min-height: 500px;
}

.oes-carousel ul.oes-carousel-bottom-nav {
    display: flex;
    border: none !important;
    border-color: transparent !important;
    flex-direction: row;
    justify-content: center !important;
    border-width: 0 !important;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom:0px;
}

.oes-carousel.no-nav ul.oes-carousel-bottom-nav {
    visibility: hidden;
}

.oes-carousel ul.oes-carousel-bottom-nav li {
    border: none !important;
    background: transparent !important;
    list-style-type:none;
}

.oes-carousel ul.oes-carousel-bottom-nav li a {
    text-decoration: none !important;
    color: #000000 !important;
    padding: 0.5em !important;
    transform: scale(1);
}

.oes-carousel ul.oes-carousel-bottom-nav li a:hover {
    transform: scale(1.1);
    margin-top: -1px;
}

.oes-carousel ul.oes-carousel-bottom-nav li a:before {
    content: "\25CF";
    font-size: 2em;
}

.oes-carousel ul.oes-carousel-bottom-nav li.ui-tabs-active a:before {
    content: "\25CB" !important;
    font-size: 2em;
}

.oes-carousel ul.oes-carousel-bottom-nav li.ui-tabs-active a:hover {
    transform: scale(1);
    margin-top: 0;
}

.oes-carousel .oes-carousel-side-nav {
    width: 6%;
    height: 100%;
    position: absolute;
    top: 1px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000 !important;
    transition: 0.5s ease;
    cursor: pointer;
}

.oes-carousel .oes-carousel-side-nav:hover {
    color: #000000 !important;
    background: rgba(0, 0, 0, 0.02);
}

.oes-carousel .oes-carousel-side-nav i {
    width: 2.5em;
    height: 2.5em;
    transition: margin 0.75s ease;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.oes-carousel .oes-carousel-side-nav i:before {
    font-size: 2.5em !important;
}

.oes-carousel .oes-carousel-side-nav.left {
    left: 0px;
}

.oes-carousel .oes-carousel-side-nav.left i {
    left: 50%}

.oes-carousel .oes-carousel-side-nav.left:hover>i {
    animation-name: oes-carousel-side-nav-left-hover;
}

.oes-carousel .oes-carousel-side-nav.right {
    right: 0px;
}

.oes-carousel .oes-carousel-side-nav.right i {
    right: 50%}

.oes-carousel .oes-carousel-side-nav.right:hover>i {
    animation-name: oes-carousel-side-nav-right-hover;
}

@keyframes oes-carousel-side-nav-left-hover {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -0.5em;
    }

}@keyframes oes-carousel-side-nav-right-hover {
     from {
         margin-right: 0;
     }
     to {
         margin-right: -0.5em;
     }
 }

.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 0.2em 1px 0;
    border-bottom: 0 !important;
    padding: 0;
    white-space: nowrap;
    box-shadow: none;
}

#my-custom-slider-demo {
    display: block;
    overflow: hidden;
    position: relative;
}

#my-custom-slider-demo #sidebar-slider-prev,
#my-custom-slider-demo #sidebar-slider-next {
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-size: 32px;
    height: 48px;
    line-height: 42px;
    opacity: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: calc(50% - 24px);
    transition: 0.2s all;
    width: 48px;
    z-index: 5;
}

#my-custom-slider-demo #sidebar-slider-next {
    right: 0;
}

#my-custom-slider-demo:hover #sidebar-slider-prev,
#my-custom-slider-demo:hover #sidebar-slider-next{
    opacity: 1;
}

#my-custom-slider-demo .widget_media_image {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top:0;
    transition: 0.8s all;
    z-index: 0;
    width: 100%;
}

#my-custom-slider-demo .widget_media_image:first-of-type,
#my-custom-slider-demo .widget_media_image.active {
    opacity: 1;
    z-index: 1;
}

#my-custom-slider-demo .widget_media_image img {
    height: auto;
    width: 100%;
}

#my-custom-slider-demo .widget_media_image b {
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    color: #FFF;
    display: inline-block;
    font-size: 14px;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    text-transform: uppercase;
}

@media all and (max-width: 600px) {
    #my-custom-slider-demo .widget_media_image b {
        display: none;
    }
}

.ui-tabs .ui-tabs-panel {
    display: block;
    padding: 1em 1.4em;
    background-color: #fff;
    border-width: 0 1px 1px 1px;
    border-radius: 0;
}

.ui-tabs .ui-tabs-panel {
    border-color: #c7cdd1;
    padding: 14px;
}

.oes-carousel-cnt{
    display:none;
}

.disabledCls{
    opacity:0.4;
    cursor:none;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: 0;
    border-radius: 0;
    background: transparent;
    border-width: 0 0 1px 0;
    box-shadow: none;
}

/*==================LOCAL CODE=================*/
/*=============================================*/




/*==================END LOCAL CODE=================*/
/*=================================================*/
